.App {
  text-align: left;
}

.App-logo {
  text-align: left;
  height: 40px;
  left: 0;
  position: relative;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.PresetButton{
  background-color: white;
  border-radius: 10px;
  margin: 5px;
}